* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	--fs-800: 2rem;
	--fs-700: 1.75rem;
	--fs-600: 1.5rem;
	--fs-500: 1.25rem;
	--fs-400: 1rem;
	--fs-300: 0.85rem;
	--fs-200: 0.7rem;
}

body {
	background-image: url('path/to/your/background/image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: lightgray;
}

.header__title {
	font-size: var(--fs-800);
	margin-bottom: 10px;
}

.header__group {
	font-size: var(--fs-400);
	font-weight: 400;
	margin-bottom: 2px;
}

.header__members {
	font-size: var(--fs-200);
	font-weight: 500;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.link-section {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #f0f0f0;
	/* Background color for differentiation */
	padding: 5px;
	border-radius: 10%;
}

.content-area {
	width: 70%;
	background-color: #fff;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 5%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-area__header {
	margin-bottom: 2em;
}

.main__text {
	font-size: var(--fs-300);
}

.footer {
	width: 100%;
	text-align: center;
	padding: 10px;
	background-color: #f8f9fa;
	bottom: 0;
	position: relative;
}