:root {
	font-size: 16px;
	background-color: orange;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
	font-family: 'Times New Roman', Times, serif;
}

#portrait-me {
	max-width: 150px;
	border-radius: 100% 50%;
	border: 0.1em solid black;
	background-color: black;
	padding: 0.01rem;  /* Removes "bleeding" from the background */
}